{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
        <tr valign="top">
            <td width="180px"> <img src="{{ user.avatar(180) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                <p>{{ user.email }}</p>
                {% if user.about_me and ((user.about_me_privacy == "1")  or (current_user.is_following(user.id) and user.about_me_privacy == "2") or (user == current_user))%}
                <p>{{ user.about_me }}</p>
                {% endif %}
                <a href="{{url_for('views.showFollowers', username = user.username)}}" class="btn btn-outline-primary btn-sm">
                {{ user.followers.count() }} followers</a> 
                <a href="{{url_for('views.showFollowing', username = user.username)}}" class="btn btn-outline-primary btn-sm">
                {{ user.followed.count() }} following</a>
                {% if user == current_user %}
                <p><a href="{{ url_for('views.edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user.id) %}
                <p>
                    <form action="{{ url_for('views.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        <input type="text" class="form-control" placeholder="Token" aria-label="Token" aria-describedby="basic-addon1" name="token" >
                        <button type="submit" class="btn btn-outline-secondary">Follow</button>
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('views.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-outline-secondary">Unfollow</button>
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {%if current_user.is_following(user.id) or user == current_user%}
        {% for post in posts %}
            {% include 'post.html' %} <br> 
        {% endfor %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">Previous</a>
            </li>
              
            <li class="page-item next{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">Next </a>
            </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
